### show basic infos 
.head() returns the first few rows
<br>.info() shows information on each of the columns
<br>.shape return the number of rows and columns of the DataFrame
<br>.describe() calculates a few summary statistics

.values: A two-dimensional NumPy array of values.
<br>.columns: An index of columns: the column names.
<br>.index: An index for the rows: either row numbers or row names.
<br> line continuation use backslash \

### sorting values

In [ ]:
df.sort_values("breed") # for one column
df.sort_values(["breed","weight_kg"]) # for multiple columns
df.sort_values(["region", "family_members"], ascending=[True, False])
df.sort_index() # sort index

### selecting columns
select a single column
<br> df["col_a"]
<br> select multiple column
<br> df[["col_a", "col_b"]]

### subsetting

In [ ]:
dogs[dogs["height_cm"] > 60]
dogs[dogs["color"] == "tan"]
dogs[(dogs["height_cm"] > 60) & (dogs["color"] == "tan")]

In [ ]:
colors = ["brown", "black", "tan"]
condition = dogs["color"].isin(colors)
dogs[condition]

### Adding new columns

In [ ]:
df["name_new_column"] = df["adding"] + df["adding2"]

### Statistics

In [ ]:
# mean and median
df["selected_column"].mean()
df["selected_column"].median()
# Print the maximum of the date column
print(sales["date"].max())
print(sales["date"].min())
# cumulated
df["column"].cumsum()
df["column"].cummax()

### Counting and remove duplicates

In [ ]:
# remove duplicate on two columns or one
new_df = df.drop_duplicates(["column1", "column2"])
new_df = df.drop_duplicates("column1")
# count element of columns
df["column"].sum()
# count the number of each type
df.groupby("type").size() or df["type"].value_counts()
# count rows of column
len(df.index)

### line continuation / break

In [5]:
# use backslash
print("hello \
world")

hello world

### Grouping

In [ ]:
# too repetitive
dogs[dogs["color"] == "Black"]["weight_kg"].mean()
dogs[dogs["color"] == "Brown"]["weight_kg"].mean()
dogs[dogs["color"] == "White"]["weight_kg"].mean()
dogs[dogs["color"] == "Gray"]["weight_kg"].mean()
# better with groupby
dogs.groupby("color")["weight_kg"].mean()
# groupby with two elements
dogs.groupby(["color", "eye_color"])["weight_kg"].mean()
# .agg = to perform multiple statistics methods at once
dogs.groupby("color")["weight_kg"].agg([min, max, sum])
# sometimes you need to do include np
sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median])
# group by column, count items and get result as DataFrame
new_df = df.groupby('column_to_group').size().reset_index(name='quantity_of_objects')

### Pivot tables, alternative to grouping

In [ ]:
# the result will be the same as above
dogs.pivot_table(values="weight_kg", index="color", aggfunc=np.median)
# groupby and pivot tables differences
dogs.groupby(["color", "eye_color"])["weight_kg"].mean()
dogs.pivot_table(values="weight_kg", index="color", columns = "breed")
# setting multiple indexes
dogs.pivot_table(values="weight_kg", index=["color", "eye_color"], columns = "breed")
# fill values
dogs.pivot_table(values="weight_kg", index="color", columns = "breed", fill_value = 0, margins = True)
# filter for max values
df[df == df.max()]

### setting index

In [ ]:
# get columns
df.columns()
# moving a column of the body to be an index. Index is 0, 1, 2, 3 in the left at the beginning
new_df = df.set_index("chosen-column")
# multilevel indexes
new_df = df.set_index(["chosen-column", "second-chosen-column"])
# setting index when import csv
pd.read_csv("your-file.csv", index_col=["column-index"])
# undo index
df.reset_index()
# remove index completely and not return it back to body
df.reset_index(drop= True)

### add columns and rows

In [ ]:
# add column
df["new-column"] = [values]
# add row
df.loc["new-row"] = [values]
# delete row
df.drop("new-row")
# delete column
df.drop(columns=['column']

### replace values

In [ ]:
# replace a single value
df.replace(to_replace ="old value", value = "new value")
# replace multiple values better, complex methods
# df["selected-column"] at the beginning is to save values to df original
df['selected-column'] = df['selected-column'].map({'old-value': "new-value", 'second-old-value': "second-new-value"})
# replace specific value in column without map through each items
df["selected-column"].replace("old-value", "new-value")

### slicing

In [10]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
second_df = df.set_index(["animal", "visits"]).sort_index()

In [ ]:
# slicing row
df.loc["row"]
df.loc["a"]

In [ ]:
# slicing with iloc
df.iloc[firstrow:lastrow, firstcolumn:lastcolumn]
df.iloc[2:5, 1:3]

In [ ]:
# slicing rows (example: from row a to c)
df.loc["first-row":"last-row"]
df.loc["a":"c"]

In [ ]:
# slicing inner index
temperatures_srt.loc[("Pakistan","Lahore"):("Russia", "Moscow")]
second_df.loc[("cat", 1):("dog", 2)]

In [ ]:
#slicing columns
# .loc[row, column]
df.loc[:, "column-name"] or df["column-name"]
df.loc[:, "column-1":"column-2"]
# slice spefic columns with a list
df.loc[:, ["column-1", "column-2", "column-3"]]

In [ ]:
# slice rows and columns at the same time
df.loc["row", "column"]
df.loc["row-1":"row-2", "column-1": "column-2"]
df.loc[("row-1","row-1-second-index"):("row-2","row-2-second-index"), "column-1": "column-2"]
df.loc[("a", "b"):("c", "d"), "e":"f"]
# slice rows and columns with conditions
df.loc["row-1" =="condition", "column"]

In [ ]:
# slice dates
df.loc["first-date":"last-date"]
df.loc["2014-08-25":"2016-09-16"]
# slice years (years need to be in string)
df.loc["2014":"2016"]
# when slicing years, always write down the full dates
df[(df["date"] >= "2010-01-01") & (df["date"] <= "2011-12-31")]
#extract only year
df["column-where-the-date-is"].dt.year

### detect missing values

In [ ]:
# replace values with true and false. True for NaN
df.isna()
# check if column has NaN(Not a number)
df.isna().any()
#counting missing values
df.isna().sum()
# remove missing values
df.dropna()
# plotting missing values to see with plt
df.isna().sum().plot(kind="bar")
#replace missing values
df.fillna(your_desired_value)
df.fillna(0)

### Lists to Dataframe

In [ ]:
# dict - by row
dict = [
    {"name": "Duc", "age": 19, "location": "Kiel"},
    {"name": "Anna", "age": 22, "location": "Düsseldorf"},
    {"name": "Ryan", "age": 99, "location": "New York"}
]
# dict - by column
dict = [
    "name": ["Duc", "Anna", "Ryan"],
    "age": [19, 22, 99],
    "location": ["Kiel", "Düsseldorf", "New York"]
]
pd.DataFrame(dict)

### CSV

In [ ]:
# convert pandas to csv
df.to_csv("name.csv")
# read csv
pd.read_csv("name.csv")

### Merging

In [ ]:
# merging on the same column (inner join)
#column exists on both tables with the same data
df.merge(df_to_merge, on="column_to_merge", suffixes=("ending_same_column_df1", "ending_same_column_df2"))
# merge on multiple column
df.merge(df_to_merge, on=["column1", "column2"])

In [ ]:
# merging multiple tables shortcuts
df1.merge(df2, on="col") \
        .merge(df3, on="col") \
        .merge(df4, on="col")

### Aggregation

In [ ]:
# mean on column
df.groupby("column").agg({"column": "mean"})
# sum on column
df.groupby("column").agg({"column": "sum"})

### Query

In [ ]:
#query is similiar to where in sql
df.query("Some selection statement")
#query with one condition
df.query("column >= statement")
df.query("age >= 20")
#query with multiple conditions
df.query('column > condition  and another_column == "condition"  ')
df.query('column > condition  or ( another_column == "condition"  and column < condition)')